# Automatically enter the Nix development shell when you cd into this repo.
# Requires: direnv (https://direnv.net) + nix-direnv (recommended)
#
# Install once:
#   nix profile install nixpkgs#direnv nixpkgs#nix-direnv
#   echo 'eval "$(direnv hook bash)"' >> ~/.bashrc   # or .zshrc
#   echo 'source $HOME/.nix-profile/share/nix-direnv/direnvrc' >> ~/.direnvrc
#
# Then: cd into this repo → direnv will auto-activate the Nix shell.

use flake
